<div class="sidebar-wrapper">

  <nav>
    <ul class="navigation">
      <li>
        <a routerLink="" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fa fa-dashboard"></i>
          <span>Kokpit</span>
        </a>
      </li>
      <li>
        <a routerLink="/customers" [routerLinkActive]="['active']">
          <i class="fa fa-users"></i>
          <span>Klienci</span>
        </a>
      </li>
      <li>
        <a routerLink="/products" [routerLinkActive]="['active']">
          <i class="fa fa-list-alt"></i>
          <span>Produkty</span>
        </a>
      </li>
      <li>
        <a routerLink="/policies" [routerLinkActive]="['active']">
          <i class="fa fa-sticky-note"></i>
          <span>Polisy</span>
        </a>
      </li>
      <!--<li>-->
        <!--<a routerLink="/payments" [routerLinkActive]="['active']">-->
          <!--<i class="fa fa-usd"></i>-->
          <!--<span>Płatności</span>-->
        <!--</a>-->
      <!--</li>-->
      <!--<li>-->
        <!--<a routerLink="/invoices" [routerLinkActive]="['active']">-->
          <!--<i class="fa fa-list-ol"></i>-->
          <!--<span>Faktury</span>-->
        <!--</a>-->
      <!--</li>-->
      <li>
        <a routerLink="/users" [routerLinkActive]="['active']">
          <i class="fa fa-user-o"></i>
          <span>Uzytkownicy</span>
        </a>
      </li>
      <li>
        <a routerLink="/settings" [routerLinkActive]="['active']">
          <i class="fa fa-cogs"></i>
          <span>Ustawienia</span>
        </a>
      </li>
    </ul>
  </nav>
  <footer class="copyright">
    <p>
      agencja-xyz.pl
    </p>
  </footer>
</div>
