<div class="row">
  <div class="column">
    <div class="title-wrapper">
      <h1>Użytkownicy</h1>
      <ul class="breadcrumbs">
        <li><a routerLink="/">Home</a></li>
        <li><span>Użytkownicy</span></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="column">
    <button class="button small" routerLink="/users/create/"><i class="fa fa-user-plus"></i> Dodaj użytkownika</button>
  </div>
</div>

<div class="row">
  <div class="column">
    <div class="product-list-component">
      <div *ngIf="!users && !isLoaded">
        <div class="loading"></div>
      </div>
      <div *ngIf="users">
        <div class="table-view-wrapper">
          <div class="row table-view header">
            <div class="small-11 columns">
              <div class="row">
                <div class="small-1 columns">
                  #
                </div>
                <div class="small-4 columns">
                  Użytkownik
                </div>
                <div class="small-2 columns">
                  Email
                </div>
                <div class="small-2 columns text-center">
                  Status
                </div>
                <div class="small-2 columns text-center">
                  Dodany
                </div>
              </div>
            </div>

          </div>
          <div *ngFor="let user of users; let i = index">
            <div class="row table-view body" >

              <div class="small-11 columns" routerLink="/users/edit/{{ user.id }}">
                <div class="row">
                  <div class="small-1 columns">
                    {{ i + 1 }}
                  </div>
                  <div class="small-4 columns">{{ user.getFullName() || '-' }}</div>
                  <div class="small-2 columns">
                    {{ user.email || '-' }}
                  </div>
                  <div class="small-2 columns text-center">
                    {{ user.getStatus() }}
                  </div>
                  <div class="small-2 columns text-center">
                    {{ user.createdAt | date: 'dd-MM-yyyy' || '-' }}
                  </div>
                </div>
              </div>

              <div class="small-1 columns">
                <div class="row">
                  <div class="small-12 columns text-right trash-wrapper">
                    <button (click)="deleteUser(user)"><i class="fa fa-times"></i></button>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

